<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689751965790-mnki4t2h494npjvq8cusd2b4kduesqht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689751965790-mnki4t2h494npjvq8cusd2b4kduesqht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>689751965790-8iejchh5elqhhvlpk8bsq9mds8uckp9v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxFp8PBS6JotvWWXbmejsB0P8OJaNZeqg</string>
	<key>GCM_SENDER_ID</key>
	<string>689751965790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owlish.ios</string>
	<key>PROJECT_ID</key>
	<string>ingilizce-destek-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ingilizce-destek-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689751965790:ios:6a14e06db88cd55345f4cf</string>
</dict>
</plist>